@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root{
	--primary: #4154f1;
	--secondary: #717ff5;
	--bgcolor: #f6f9ff;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	color: #444444;
	background: var(--bgcolor);
}

a{
	color: var(--primary);
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	color: var(--primary);
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Nunito', sans-serif;
}
